.email-body{
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    width: max-content;
}

.email-icon{
    color: var(--secondary_text_colour);
}

.email-text{
    width: max-content;
    color:var(--secondary_text_colour);
}

.email-body:hover .email-text,
.email-body:hover .email-icon {
    color: white !important;
    cursor: pointer;
}